name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0' # النسخة المنقذة للمشاريع القديمة

      - name: Clean Project
        run: |
          flutter clean
          flutter pub get

      - name: Build APK
        run: flutter build apk --debug --ignore-deprecation --no-sound-null-safety

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FuelApp-Working
          path: build/app/outputs/flutter-apk/app-debug.apk
                - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0' # التعديل المطلوب هنا
