name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - run: flutter pub get
      - run: flutter build apk --debug --no-sound-null-safety
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app
          path: build/app/outputs/flutter-apk/app-debug.apk
