name: Build APK
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          # هذا الإصدار هو الأحدث الذي لا يزال يدعم Dart 2 ويحل مشكلة السطر 40
          flutter-version: '2.10.5' 
          channel: 'stable'

      - run: flutter pub get
      - run: flutter build apk --debug --no-sound-null-safety

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
