name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0' # نسخة أحدث لضمان دعم V2 Embedding
          
      - name: Recreate Android Files
        run: flutter create . --platforms android --overwrite
        
      - name: Build APK
        run: flutter build apk --debug --ignore-deprecation
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RedotPay-Clone-Final
          path: build/app/outputs/flutter-apk/app-debug.apk


