name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.0' # استخدام نسخة مستقرة للمشاريع القديمة
          
      - name: Fix Permissions
        run: chmod +x android/gradlew
        
      - name: Build APK
        run: flutter build apk --debug --ignore-deprecation
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RedotPay-Clone-App
          path: build/app/outputs/flutter-apk/app-debug.apk
          
