name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.0' # النسخة الذهبية للمشاريع القديمة
      - run: flutter pub get
      - run: flutter clean # مسح الأخطاء السابقة
      - run: flutter build apk --debug --ignore-deprecation
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FuelApp
          path: build/app/outputs/flutter-apk/app-debug.apk
