name: Build APK
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.5' # هذا الإصدار هو الأكثر استقراراً لكود RedotPay
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --debug --no-sound-null-safety
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
